<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="referrer" content="strict-origin-when-cross-origin"/>

    {# Set default values #}
    {% set seoTitle = entry.title ~ " | HireJeffrey.com" | default("Hire Jeffrey | Engineering Leadership & Web Development") %}
    {% set seoDescription = entry.description ??? globals.description %}
    {% set seoUrl = entry.url ??? craft.app.request.url | split('?') | first %}
    {% set seoImage = entry.image.one() ??? globals.image.one() %}

    {# Standard Meta Tags #}
    <title>{{ seoTitle }} </title>
    <meta name="description" content="{{ seoDescription }}">
    <meta name="author" content="Jeffrey Benusa">
    <link rel="canonical" href="{{ seoUrl }}">
    <meta name="robots" content="index, follow" />

    {# Open Graph (Facebook, LinkedIn, etc.) #}
    <meta property="og:title" content="{{ seoTitle }}">
    <meta property="og:description" content="{{ seoDescription }}">
    <meta property="og:url" content="{{ entry.url ?? siteUrl }}">
    <meta property="og:image" content="{{ seoImage.getUrl('openGraph') }}">
    <meta property="og:image:alt" content="Jeffrey Benusa - Engineering Leadership & Web Development">
    <meta property="og:type" content="website">
    <meta property="og:author" content="Jeffrey Benusa">
    <meta property="og:site_name" content="Hire Jeffrey">
    <meta property="og:locale" content="en_US">

    {# Twitter Cards #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ seoTitle }}">
    <meta name="twitter:description" content="{{ seoDescription }}">
    <meta name="twitter:image" content="{{ seoImage.getUrl('twitter') }}">
    <meta name="twitter:image:alt" content="Jeffrey Benusa - Engineering Leadership & Web Development">
    <meta name="twitter:site" content="@nerd_from_mn">
    <meta name="twitter:creator" content="@nerd_from_mn">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ getenv("GTM_ID") }}');</script>
    <!-- End Google Tag Manager -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=roboto:100,300,500,700,900" rel="stylesheet" />

    {{ craft.vite.script("src/js/app.js", false) }}
    {% include "_globals/header/json" %}
</head>
<body>
    <a href="#main-content" class="absolute left-0 top-0 bg-blue-500 text-white py-2 px-4 z-50 transform -translate-y-full focus:translate-y-0 transition">Skip to main content</a>
    {% include '_globals/header' %}
    <main id="main-content" class="font-sans">
        {% block content %}
        {% endblock %}
    </main>
    {% include '_globals/quote' %}
    {% include '_globals/footer' %}
    {% include '_globals/sprite' %}
    {% include '_globals/cookieBanner' %}
</body>
</html>

